nav{
    color: white;
    display: flex;
    font-size: 1.25em;
}

nav div{
    text-align: center;
    margin: auto;
    margin-left: 0;
}

nav ul{
    padding: 0;
    width: 25%;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    height: 100%;
}

nav ul li{
    list-style: none;
    width: 50%;
    margin: auto;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: #3aa1aa;
}

nav a:active{
    color: #246068;
}